@font-face {
    font-family: "PunShop";
    src: url(/PunShop/font/FC_Quantum_Non-commercial.ttf);
}

* {
    font-family: "PunShop";
}

body {
    background-color: #62CEFF;
    margin: 0%;
    padding: 0%;
}

header {
    background-color: #2AB5EC;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#div-1 {
    display: flex;
    align-items: center;
    gap: 30px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#section-1 {
    display: flex;
    justify-content: right;
    padding: 5px 10px;
}

#section-1 div {
    width: 3%;
}

#section-1 div img {
    width: 100%;
}

#section-2 {
    display: flex;
    padding: 0 25px;
    justify-content: space-between;
}

#div-2 {
    display: flex;
    flex-direction: column;
}

#div-2 img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

#div-3 {
    background-color: white;
    padding: 20px;
}

#div-3 h2, #div-3 p{
    margin: 0%;
}

#div-3 h2{
    margin-bottom: 10px;
}

#div-4 {
    background-color: #D9D9D9;
    padding: 5px;
    height: 200px;
}

#div-5 {
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: space-between;
}

#div-6 p{
    word-wrap: break-word;
}

#div-7 {
    display: flex;
    gap: 20px;
    justify-content: right;
}

button {
    height: 30px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    border: 1px solid black;
}